.parameters {
	position: relative;
	display: flex;
	width: 100%;
	padding: 24px 0;
	border-top: 1px solid var(--background-dark);
	border-bottom: 1px solid var(--background-dark);
}

.parameters-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.parameters__checkbox {
	height: 14px;
	width: 14px;
	border: 2px solid rgba(135, 144, 174, 0.4);
	border-radius: 2px;
	cursor: pointer;
}

.parameters__checkbox_active {
	background-image: url(../../../icons/square.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.parameters__text {
	margin: 0 15px;
}

.parameters__help-icon {
	height: 20px;
	width: 20px;
	background-image: url(../../../icons/tip.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}

@media (max-width : 575px) {
	.parameters__text {
		font-size: var(--input-text);
	}
}