@font-face {
	font-family: "PTRootUI-or";
	src: url(./PTRootUI/PTRootUI_Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "PTRootUI-or";
	src: url(./PTRootUI/PTRootUI_Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "PTRootUI-or";
	src: url(./PTRootUI/PTRootUI_Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "PTRootUI-or";
	src: url(./PTRootUI/PTRootUI_Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}