.day {
	padding: 12px 16px;
	border: 1px solid transparent;
	border-radius: 16px;
	cursor: pointer;
	opacity: 1;
	transition: border var(--transition), background-color var(--transition), opacity var(--transition);
}

.day:hover {
	border: 1px solid var(--accent);
	background-color: var(--background-dark);
}

.day:active {
	opacity: 0.5;
}

.day_active {
	border: 1px solid var(--accent);
	background-color: var(--background-dark);
}

.day_invalid {
	border: 1px solid red;
}

.day__number {
	font-size: var(--medium-text);
	font-weight: var(--medium-weight);
	text-align: center;
	margin: 0 0 2px;
}

.day__weekday {
	font-weight: var(--medium-weight);
	text-align: center;
	margin: 0;
}

@media (max-width: 991px) {
	.day {
		padding: 8px 10px;
	}
}