.textarea {
	max-width: 100%;
	width: 100%;
	padding: 16px;
	min-height: 184px;
	border: 1px solid var(--background-dark);
	border-radius: 8px;
	font-size: var(--input-text);
	outline: none;
	background-color: #FFFFFF;
	transition: background-color var(--transition), border var(--transition), outline var(--transition); 
}

.textarea:hover {
	background-color: var(--background);
	border: 1px solid var(--accent);
}

.textarea:focus {
	background-color: var(--background);
	border: 1px solid var(--accent);
}

.textarea::placeholder {
	color: var(--text-light);
}