.message-error {
	visibility: visible;
	position: absolute;
	bottom: -5px;
	left: 0;
	transform: translate(16px, 100%);
	font-size: 12px;
	color: red;
}

.message-error_hidden {
	visibility: hidden;
}

@media (max-width : 575px) {
	.message-error {
		bottom: -2px;
	}
}