.date {
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--background-dark);
	border-radius: 16px;
	padding: 24px;
	margin: 0 0 40px;
}

.date__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.date__title {
	text-align: center;
	font-weight: var(--medium-weight);
	margin: 0;
}

.date__button-right {
	transform: rotate(180deg);
}

.date__days {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}